* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-prymary: #29567C;
    --color-secondary: #3E3636;
    --color-tertiary: #FFE001;
    --color-white:#fff;
    --color-black: #000;
}







